@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #FFE5E8;
  border-radius: 999px;
}


::-webkit-scrollbar-thumb {
  background: #e84762;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb {
  max-height: 200px;
}

.center {
  @apply flex justify-center items-center;
}

.imgSettings {
  @apply select-none pointer-events-none;
}

.mainMargin {
  @apply sm:mx-20;
}

.mainPadding {
  @apply sm:pt-10 sm:pr-10 sm:pl-10 sm:pb-10 pt-5 pr-5 pl-5 pb-5;
}

input[type="date"]{
  background-color: rgba(255, 255, 255,0.9);
  color: black;
  border: 2px solid black;
}
